<p>Please log in or sign up!</p>
<form action="/login" method="POST">
Username: <input type="text" name="user[username]">
<br/><br/>
Password: <input type="text" name="user[password]">
<br/><br/>
<input type="submit" value="Submit">
</form>