<form action="/surveys" method="POST">
  Survey Title: <input type="text" name="survey[survey_title]"></input>
  <br/><br/>
  <div id="questions">
  </div>
  <button type="button" class="add_question">Add Question</button>
  <br/><br/>
  <input type="submit" value="Submit!"></input>
</form>